* {
    box-sizing: border-box;
}

body {
    min-height: 100svh;
    margin: 0;
    font-family: system-ui, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

button {
    margin-top: 3rem;
    appearance: none;
    border: 0;
    cursor: pointer;
    padding: 0.8rem 1.6rem;
    background-color: rgb(43, 107, 226);
    color: aliceblue;
    font-weight: bold;
    border-radius: 6px;
}

button:hover {
    background-color: rgb(34, 91, 197);
}

dialog div {
    text-align: center;
}

::backdrop {
    backdrop-filter: blur(6px);
}

label {
    width: 65px;
    display: inline-block;
}

input {
    padding: .2rem .4rem;
}

input[type="checkbox"] {
    margin: 0;
}

.books-grid {
    padding: 1rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
    gap: 1rem;
    width: 65vw;
    margin-top: 1rem;
}

.card {
    border: 1px solid rgb(163, 163, 163);
    border-radius: 6px;
    padding-inline: 1rem;
}