* {
    box-sizing: border-box;
}

body {
    min-height: 100svh;
    margin: 0;
    font-family: system-ui, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

button {
    margin-top: 3rem;
    appearance: none;
    border: 0;
    cursor: pointer;
    padding: 0.8rem 1.6rem;
    background-color: blueviolet;
    color: aliceblue;
    font-weight: bold;
    border-radius: 6px;
}

button:hover {
    background-color: rgb(117, 28, 201);
}

.books-grid {
    padding: 1rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
    grid-auto-rows: 1fr;
    width: 50rem;
    gap: 1rem;
}

.card {
    border: 1px solid rgb(163, 163, 163);
    border-radius: 6px;
    padding-inline: 1rem;
}